# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore Locust test result files
*.html
*.xml
*.csv

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore any other files that are not needed in the container
*.md
*.git/
